* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 400px;
  height: 300px;
  background-color: #e2d8d8;
}

.pult {
  width: 60px;
  height: auto;
  border: 2px solid black;
}

.arrow-forward {
  width: 20px;
  margin: 0px auto;
}

.arrow-forward .btn-1 {
  margin-top: 5px;
  display: block;
  border-radius: 50%;
  background-color: red;
  padding: 10px;
  cursor: pointer;
}

.arrow-forward .btn-2 {
  margin-top: 20px;
  display: block;
  border-radius: 50%;
  background-color: blue;
  padding: 1px;
  cursor: pointer;
}

.arrow-forward .btn-3 {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  border-radius: 50%;
  background-color: blue;
  padding: 1px;
  cursor: pointer;
}
